<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login-signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="form-section">
      <div class="form-container">
        <div class="logo-container">
          <a href="/home" class="logo">logia<span>Fun</span></a>
        </div>

        <h1>WELCOME BACK</h1>
        <p class="subtitle">Welcome back! Please enter your details.</p>

        <form action="#" method="POST">
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              placeholder="Enter your email"
              name="email"
              required
            />
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              placeholder="**********"
              name="password"
              required
            />
          </div>

          <p style="color: red; margin-bottom: 10px"><%=error%></p>

          <div class="form-actions">
            <!-- <label class="checkbox-container">
              <input type="checkbox" />
              Remember me
            </label> -->
            <a href="/auth/forgot-password" class="forgot-password"
              >Forgot password</a
            >
          </div>

          <button type="submit" class="btn-primary">Sign in</button>

          <button
            type="button"
            class="btn-google"
            onclick="window.location.href = '/auth/google'"
          >
            <img src="/images/google.png" alt="" width="20" />
            Continue with Google
          </button>

          <p class="footer-text">
            Don't have an account? <a href="/auth/signup">Sign up for free!</a>
          </p>
        </form>
      </div>
    </div>

    <div class="image-section"></div>
  </body>
</html>
